:root {
    --pure-white: 255, 255, 255;
    --cream-bg: 242, 234, 226;
    --aurometal-saurus: 108, 114, 137;
    --deep-aquamarine: 61, 129, 104;
    --deep-aquamarine-hover: 26, 64, 50;
    --gunmetal: 28, 35, 43;
}